<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon>book</mat-icon>Zoeken in de catalogus    -->
      <mat-icon>book</mat-icon> ZOEKEN IN DE CATALOGUS </ng-template>
    <form novalidate class="content content-test-form" #form="ngForm" (ngSubmit)="form.valid && submitForm(form)">
      <section class="row">
        <div class="col">
          <mat-input-container>
            <input matInput matKeyboard placeholder="Zoekterm" name="zoekterm" [(ngModel)]="zoekValue" (enterClick)="submitForm(form)">
          </mat-input-container>
        </div>
      </section>
      <section class="row">
        <button mat-raised-button type="submit" aria-label="Submit form">
          ZOEKEN
        </button>
      </section>
    </form>
    <div>
      <div *ngIf="resultaten.length > 0 as value; else noResult">
        <div class="row">
          <div *ngFor="let resultaat of resultaten" class="col">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title class="title">{{resultaat.titles.title.replace('amp;', '')}}</mat-card-title>
                <mat-card-subtitle class="subtitle" *ngIf="isUndefined(resultaat.authors) as value; else elseBlock">
                </mat-card-subtitle>
                <ng-template #elseBlock>
                  <mat-card-subtitle>
                    {{ resultaat.authors['main-author']}}
                  </mat-card-subtitle>
                </ng-template>
              </mat-card-header>
              <img mat-card-image src="assets/noresult.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac risus imperdiet, lobortis diam ac, luctus neque. Pellentesque
                  habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam massa tortor,
                  interdum vitae nisi a, sagittis semper risus.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a href="{{resultaat['detail-page']}}" target="_blank" mat-button>MEER INFO</a>
              </mat-card-actions>
              <div *ngIf="isArray(resultaat.types.type) as value; else elseBlockT">
                <mat-chip-list>
                  <mat-chip *ngFor="let t of resultaat.types.type" selected="true" color="warn">{{t}}</mat-chip>
                </mat-chip-list>
              </div>
              <ng-template #elseBlockT>
                <div>
                  <mat-chip-list>
                    <mat-chip selected="true" color="warn"> {{resultaat.types.type}}
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </ng-template>
            </mat-card>
          </div>
        </div>
      </div>
      <ng-template #noResult>
        <div *ngIf="!first">
          <img class="noresult" src="assets/noresultTextDown.png">
        </div>
      </ng-template>
    </div>
    <div>
      <div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>